
@model List<Product>

<h1>Products list</h1>
<div>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Create">Create</a>
</div>

<div>
    @foreach (var product in Model)
    {
        <div>
            <h2>@product.Name</h2>
            <p>@product.Price</p>
            <p>@product.Quantity</p>
            <form asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    }
</div>
